html,
body {
  height: 100%;
  margin: 0;
  padding: 0;  
  background-color: #F5F5F5;
}


#wrap {
  background-color: #F5F5F5;   
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}


.chosen-container-single .chosen-single {
  height: 32px !important;
}


#footer {
  height: 60px;
}


.background-login {
  background-color: #5F6B5C !important;      
}


#wrap > .container {
  background-color: #FFF;
  padding: 0 15px 0;
}


#footer .container p {
  margin: 20px 0;
}


#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}


div#main-container {
  float:left; 
  margin: 0; 
  width: 100%; 
  min-height: 100%;
  height: 100%;
}


div#login {
  background-color: #f5f5f5;
  width: 40%;
  height: 50%;
  padding: 2%;
  margin: 15% auto 0;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 9px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    3px 4px 9px rgba(50, 50, 50, 0.55);
  box-shadow:         3px 4px 9px rgba(50, 50, 50, 0.55);
}


div#login img.logo {
  display: block;
  margin: 0 auto 20px;
}


div#login a.recuperar-senha {
  font-size: 13px;
  display: block;
  margin: 0 0 20px 0;
}


div#topo {
  height: 80px;
  margin-bottom: 20px;
  background-color: #A5B3A1;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.75);
}


div#topo > * {
  margin: 0;
  padding: 0;
}


div#topo img {
  margin: 10px 0 0 10px;
  max-height: 70px;
}


div#topo div.user {
  margin: 20px 20px 0 0;
}  


div#menu {
  float:left;
  width: 200px; /* 15% */
  margin-left: 1%;  
  background-color: #f5f5f5;
  min-height: 77vh;
  height: auto !important;
  height: 100%;;
}


div#conteudo {
  float:left; 
  width: 78%; 
  margin-left: 4%;
  min-height: 77vh;
  height: auto !important;
  height: 100%;;
  background-color: #f5f5f5;
  border-left: solid 2px #f5f5f5;
}

div#conteudo > * {
  margin: 0;
  padding: 0; 
}


div#conteudo h1.pagina-atual {
  margin-bottom: 20px;
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  color: #5C5A25;
  text-shadow: 0px 2px 3px #FFF;
}


h1.modal-titulo, h2.modal-titulo {
  margin: 0 !important;
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  color: #5C5A25;
  text-shadow: 0px 2px 3px #FFF;
}


div#modal-form-mensagem-pessoa-telefones {
  color: #5C5A25;
  font-weight: bold;
  font-size: 13px;
  background-color: #F5F5F5;
  margin-top: 20px;
  padding: 4px;
}

div#modal-form-mensagem-pessoa-telefones p {
  padding: 0;
  margin: 0;
}


div#conteudo h1.pagina-atual-x:before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent red transparent transparent ;
  top: 0px;
  right: 0;
}


div#menu > div.panel {
  border: none !important;
}


div#menu > div.panel-heading {
  background-image: none !important;
  background-color: #5F6B5C !important ;
  border-radius: 0 !important;
  border: none !important;
}


div#menu > div.panel-heading h4 {
  color: white !important;
}


div#menu > div.panel-body {
  background-color: #5F6B5C;
  color: white;
}


div#menu > div.panel-collapse {
  border-radius: none !important;
}


div#menu > a {
  color: white !important;
}


div#conteudo-detalhes {
  padding: 2%;
  border: solid 1px #CCC; 
  border-radius: 4px;
  -webkit-box-shadow: 3px 2px 7px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 2px 7px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 2px 7px rgba(50, 50, 50, 0.75);
}


div#conteudo-detalhes h2.detalhes, div#conteudo-detalhes h3.detalhes {
  color: #5C5A25;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 22px;
  border-bottom: solid 1px #CCC;
}


div#conteudo-detalhes h3.detalhes {
  font-size: 16px;
  border-bottom: none;
  font-weight: bold;
}


div#conteudo-detalhes p.detalhes {
  margin: 0 0 30px 0;
}


div#conteudo-detalhes table tbody tr td a.botao-padrao {
  margin-right: 10px;      
}


div.show h2, div.show h3 {
  color: #5C5A25;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 22px;
  border-bottom: dashed 2px #BFBFAA;
  border-bottom: dashed 2px #DEDDD3;
}


div.show h2:first-child {
  margin-top: 0;
}


div.show h2 {
  margin-top: 20px;
}


div.show h3 {
  font-size: 16px;
  border-bottom: none;
  font-weight: bold;
}


div.show p {
  margin: 0 0 30px 0;
}


.chosen-container {
  width: 100% !important; 
}


div#submenu {
  margin-bottom: 30px;   
}


form {
  max-width: 800px; 
}


form fieldset {
  margin-top: 40px; 
}   


form fieldset legend { 
  color: #5C5A25;
}


.search-button {
  display: block;
  margin-bottom: 20px;
  width: 180px;
  font-weight: bold;
}


.botao-padrao {
  color: #5C5A25;
  font-weight: bold;   
}


.botao-padrao-excluir {
  color: red;
  font-weight: bold;   
}


div#form-search {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}


div.mensagens-validacao {
  -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 2px 3px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 2px 3px rgba(50, 50, 50, 0.25); 
}


form.delete-submenu {
  float: left;  
}


form.delete-submenu a.submit-form-delete {
  border-radius: 0 4px 4px 0;
}


table.mapa-veiculo tbody tr td.corredor, table.mapa-veiculo thead tr th.corredor {
  background: #CCC !important;
}


table.mapa-veiculo tbody tr td a {
  display: block;
  font-weight: bold;
  height: 24px;
  font-size: 20px;
}


.borda-erro {
  border: solid 1px red;
}


#myModal .modal-dialog {
  width:  800px;
}