<font color="red">ERRO: </font>localhost em 02/07/2015 20:24:20<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:25:45<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

