<font color="red">ERRO: </font>guacutur em 02/07/2015 20:30:45<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:34:10<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:36:27<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:38:09<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:57:12<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:59:03<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 20:59:56<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 21:01:55<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 21:07:16<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 21:09:54<br />A tabela [art_venda1] não foi encontrada!<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda1 (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (98, 6847, 2, 3, 0); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 21:16:43<br />1064: Exite um erro de sintaxe na instrução SQL:<br />You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ' '2015-07-02 21:16:43', '2015-07-02 21:16:43')' at line 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_PassagemAdicional (Passagem_Id, TipoAdicionalTarifa_Id, Valor, created_at, updated_at) values (11743, 0, , '2015-07-02 21:16:43', '2015-07-02 21:16:43')</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(114): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 22:20:53<br />1265: Data truncated for column 'Tipo' at row 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Pessoa (Nome, NomeUsual, Documento, RGIE, Email, Senha, Sexo, DataNascimento, Pessoa_Id, Tipo, Pessoa_Id_Responsavel, EmPotencial, VisualizarFidelizacao, Negativado, Observacao, created_at, updated_at) VALUES ('', '', '', '', '', '', 'M', NULL, 2, '', NULL, 0, 1, 0, '', '2015-07-02', '2015-07-02'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(153): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 02/07/2015 22:22:21<br />1265: Data truncated for column 'Tipo' at row 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Pessoa (Nome, NomeUsual, Documento, RGIE, Email, Senha, Sexo, DataNascimento, Pessoa_Id, Tipo, Pessoa_Id_Responsavel, EmPotencial, VisualizarFidelizacao, Negativado, Observacao, created_at, updated_at) VALUES ('', '', '', '', '', '', 'M', NULL, 2, '', NULL, 0, 1, 0, '', '2015-07-02', '2015-07-02'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(153): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>localhost em 02/07/2015 22:24:12<br />1064: Exite um erro de sintaxe na instrução SQL:<br />You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ' '', '2015-07-02', '2015-07-02'); SELECT LAST_INSERT_ID() AS Id' at line 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Pessoa (Nome, NomeUsual, Documento, RGIE, Email, Senha, Sexo, DataNascimento, Pessoa_Id, Tipo, Pessoa_Id_Responsavel, EmPotencial, VisualizarFidelizacao, Negativado, Observacao, created_at, updated_at) VALUES ('', '', '', '', '', '', 'M', NULL, 2, '', NULL, 0, 1, , '', '2015-07-02', '2015-07-02'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(153): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>localhost em 02/07/2015 22:25:11<br />0: <br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Pessoa (Nome, NomeUsual, Documento, RGIE, Email, Senha, Sexo, DataNascimento, Pessoa_Id, Tipo, Pessoa_Id_Responsavel, EmPotencial, VisualizarFidelizacao, Negativado, Observacao, created_at, updated_at) VALUES ('', '', '', '', '', '', 'M', NULL, 2, '', NULL, 0, 1, , '', '2015-07-02', '2015-07-02'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(153): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>localhost em 02/07/2015 22:29:32<br />0: <br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Pessoa (Nome, NomeUsual, Documento, RGIE, Email, Senha, Sexo, DataNascimento, Pessoa_Id, Tipo, Pessoa_Id_Responsavel, EmPotencial, VisualizarFidelizacao, Negativado, Observacao, created_at, updated_at) VALUES ('', '', '', '', '', '', 'M', NULL, 2, '', NULL, 0, 1, , '', '2015-07-02', '2015-07-02'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(153): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>localhost em 02/07/2015 22:33:42<br />1265: Data truncated for column 'Tipo' at row 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Pessoa (Nome, NomeUsual, Documento, RGIE, Email, Senha, Sexo, DataNascimento, Pessoa_Id, Tipo, Pessoa_Id_Responsavel, EmPotencial, VisualizarFidelizacao, Negativado, Observacao, created_at, updated_at) VALUES ('', '', '', '', '', '', 'M', NULL, 2, '', NULL, 0, 1, 0, '', '2015-07-02', '2015-07-02'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(154): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 13:10:55<br />A tabela [art_pessoaendereco1] não foi encontrada!<br />[ <font color="red"><font color="blue">SELECT</font> <font color="blue">*</font> <font color="blue">FROM</font> ART_PessoaEndereco1 <font color="blue">WHERE</font> ART_PessoaEndereco.Pessoa_Id = 6852</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(173): dbConnection->executeQuery('SELECT * FROM A...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 13:12:36<br />A tabela [art_pessoaendereco1] não foi encontrada!<br />[ <font color="red"><font color="blue">SELECT</font> <font color="blue">*</font> <font color="blue">FROM</font> ART_PessoaEndereco1 <font color="blue">WHERE</font> ART_PessoaEndereco.Pessoa_Id = 6853</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(173): dbConnection->executeQuery('SELECT * FROM A...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 13:15:22<br />A tabela [art_pessoaendereco1] não foi encontrada!<br />[ <font color="red"><font color="blue">SELECT</font> <font color="blue">*</font> <font color="blue">FROM</font> ART_PessoaEndereco1 <font color="blue">WHERE</font> ART_PessoaEndereco.Pessoa_Id = 6854</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(173): dbConnection->executeQuery('SELECT * FROM A...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 13:17:58<br />A tabela [art_pessoaendereco1] não foi encontrada!<br />[ <font color="red"><font color="blue">SELECT</font> <font color="blue">*</font> <font color="blue">FROM</font> ART_PessoaEndereco1 <font color="blue">WHERE</font> ART_PessoaEndereco.Pessoa_Id = 6855</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(173): dbConnection->executeQuery('SELECT * FROM A...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 13:22:49<br />A tabela [art_pessoaendereco1] não foi encontrada!<br />[ <font color="red"><font color="blue">SELECT</font> <font color="blue">*</font> <font color="blue">FROM</font> ART_PessoaEndereco1 <font color="blue">WHERE</font> ART_PessoaEndereco.Pessoa_Id = 6856</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(173): dbConnection->executeQuery('SELECT * FROM A...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 13:24:28<br />A tabela [art_pessoaendereco1] não foi encontrada!<br />[ <font color="red"><font color="blue">SELECT</font> <font color="blue">*</font> <font color="blue">FROM</font> ART_PessoaEndereco1 <font color="blue">WHERE</font> ART_PessoaEndereco.Pessoa_Id = 6857</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/cadastraPessoa.php(173): dbConnection->executeQuery('SELECT * FROM A...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 19:08:28<br />1064: Exite um erro de sintaxe na instrução SQL:<br />You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ' '2015-07-03 19:08:28', '2015-07-03 19:08:28')' at line 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_PassagemAdicional (Passagem_Id, TipoAdicionalTarifa_Id, Valor,  created_at, updated_at) values (11741, 0, , '2015-07-03 19:08:28', '2015-07-03 19:08:28')</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(147): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 20:32:33<br />1265: Data truncated for column 'Parcial' at row 1<br />[ <font color="red">UPDATE ART_Passagem 
                          SET Tipo                   = 'P',
                              Parcial                = '',
                              Desconto               = 20, 
                              DescontoFidelizacao    = 75,
                              updated_at             = '2015-07-03'
                          <font color="blue">WHERE</font> Id = 11823</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(134): dbConnection->executeQuery('UPDATE ART_Pass...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 20:36:31<br />1265: Data truncated for column 'Parcial' at row 1<br />[ <font color="red">UPDATE ART_Passagem 
                          SET Tipo                   = 'P',
                              Parcial                = '',
                              Desconto               = 20, 
                              DescontoFidelizacao    = 75,
                              updated_at             = '2015-07-03'
                          <font color="blue">WHERE</font> Id = 11823</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(134): dbConnection->executeQuery('UPDATE ART_Pass...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 21:19:11<br />1265: Data truncated for column 'Parcial' at row 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Passagem (Valor, Desconto, DescontoFidelizacao, Poltrona, Viagem_Id, ViagemItem_Id_Origem, Pessoa_Id, Empresa_Id, Tipo, Situacao, Parcial, created_at, updated_at) VALUES (430, 0, 0, '25', 495, 21425, 6852, 3, 'R', 'Normal', '', '2015-07-03 21:19:10', '2015-07-03 21:19:10'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(97): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 21:23:53<br />1265: Data truncated for column 'Parcial' at row 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Passagem (Valor, Desconto, DescontoFidelizacao, Poltrona, Viagem_Id, ViagemItem_Id_Origem, Pessoa_Id, Empresa_Id, Tipo, Situacao, Parcial, created_at, updated_at) VALUES (430, 0, 0, '25', 495, 21425, 6853, 3, 'R', 'Normal', '', '2015-07-03 21:23:53', '2015-07-03 21:23:53'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(97): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 21:32:42<br />1064: Exite um erro de sintaxe na instrução SQL:<br />You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ' , , , ); SELECT LAST_INSERT_ID() AS Id' at line 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Venda (PontoReferencia_Id, Pessoa_Id_Cliente, Pessoa_Id, Usuario_Id, ValorDesconto) values (, , , , ); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(38): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 03/07/2015 21:37:32<br />1054: Existe algum campo na instrução SQL desconhecido!<br />[ <font color="red">UPDATE ART_Pessoa 
         SET Nome       = 'gggggg hhhhhhh', 
             Documento  = '' , 
             RGIE       = '2387458237465', 
             Sexo       = 'M', 
             Pessoa_Id  = 2, 
             Parcial    = 'C', 
             created_at = '2015-07-03', 
             updated_at = '2015-07-03'
         <font color="blue">WHERE</font> Id = 6854</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/atualizaPessoa.php(39): dbConnection->executeQuery('UPDATE ART_Pess...')<br />
#1 {main}<br /><hr />

<font color="red">ERRO: </font>guacutur em 18/07/2015 12:33:55<br />1265: Data truncated for column 'Parcial' at row 1<br />[ <font color="red"><font color="blue">INSERT</font> INTO ART_Passagem (Valor, Desconto, DescontoFidelizacao, Poltrona, Viagem_Id, ViagemItem_Id_Origem, Pessoa_Id, Empresa_Id, Tipo, Situacao, Parcial, created_at, updated_at) VALUES (230, 0, 0, '44', 546, 21666, 6916, 3, 'R', 'Normal', '', '2015-07-18 12:33:55', '2015-07-18 12:33:55'); <font color="blue">SELECT</font> LAST_<font color="blue">INSERT</font>_ID() AS Id;</font> ]<br />Excessão: <br />#0 /Users/marcus/Dropbox/artaban/laravel/public/reserva/data/gravarCompra.php(97): dbConnection->executeQuery('INSERT INTO ART...')<br />
#1 {main}<br /><hr />

