table {
    font-family: helvetica;
    border-collapse: collapse;
    width: 100%;
}
caption {
    font-weight: bold; 
    font-size: 20px; 
    text-align: left;
}
td {
    vertical-align: top;
}
th.header {
    border-top: 3px double black ;
    border-bottom: 3px double black ;
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
    font-size: 10pt;
}
td.foter {
    border-top: 3px double black ;
    border-bottom: 3px double black ;
    font-weight: bold;
    font-size: 10pt;
}
td.separador {
    border-bottom: 1px solid black;
    vertical-align:top;
}
.cidade {
    border-bottom: 1px solid black;
    font-weight: bold;
}
.cidade2 {
    border-bottom: 2px solid black;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
.titulo {
    padding: 10px 0 15px 0;
}


