.frente {
	position: relative;
	width: 135px;
	height: 21px;
	border-right: 3px solid #666;
	border-top: 3px solid #666;
	border-left: 3px solid #666;
	border-top-left-radius: 120px 30px;
	border-top-right-radius: 120px 30px;
}
.frente1 {
	position: absolute;
	width: 129px;
	height: 15px;
	border-right: 3px solid #CCC;
	border-top: 3px solid #CCC;
	border-left: 3px solid #CCC;
	border-top-left-radius: 120px 26px;
	border-top-right-radius: 120px 26px;
	border-bottom-left-radius: 0px 10px;
	background-color: #CCC;
}
.frente2 {
	position: absolute;
	width: 129px;
	height: 8px;
	border-right: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-top-left-radius: 200px 26px;
	border-top-right-radius: 200px 26px;
	border-bottom-left-radius: 0px 10px;
	background-color: #FFF;
	top: 10px;
}
.farol-esquerdo {
	position: absolute;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	width: 25px;
	height: 7px;
	left: 13px;
	top: 1px;
	background-color: #FFF;
	border-radius: 55px 0px 48px 19px / 12px 0px 23px 9px;
}
.farol-direito {
	position: absolute;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	width: 25px;
	height: 7px;
	left: 93px;
	top: 1px;
	background-color: #FFF;
	border-radius: 0px 55px 19px 48px  / 0px 12px 9px 23px;
}
div#viewPiso1, div#viewPiso2{
    margin-left: 5%;
	width: 90%;
	height: 300px; /*(auto !important;*/
    padding: 1px 0 21px 0;
    font-family: Calibri;
	font-size: 15px;
}
.onibus {
	height: 264px;
    width: 145px;
    border-left: 3px solid #666;
	border-right: 3px solid #666;
	font-family: Calibri;
	font-weight: bold;
}
.poltrona {
	position: relative;
	border: 1px solid #CCC;
	width: 22px;
	height: 20px;
	border-radius: 3px;
	font-weight: bold;
	color: #333333;
	font-size: small;
	vertical-align: top;
	margin-left: 1px;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 1px;
}
.parcial {
	width: 22px;
    height: 20px;
    border: 2px solid #0303A4;
    background: #FF0; 
    border-radius: 3px;
}

.numero {
	position: absolute;
	left: 3px;
	top: -3px;
	font-family: Calibri;
	font-size: 15px;
}
div.linha{
    width: 100%;
	height: 22px;
}
	
div#viewPiso1 a, div#viewPiso2 a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    width: 22px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 2px;
    line-height: 15px;
}
a.corredor{
	margin-right: 5px;
}		
a.polEsq{
    margin-left: 4px;	
}

a.mlLivre{
	width: 22px;
    height: 20px;
    border: 2px solid #383838;
    background: #F1F1F1; /* url('../images/mapa/poltrona.png') no-repeat;  */
    border-radius: 4px;
}
a.mlEscolhida{	
	width: 22px;
    height: 20px;
    border: 2px solid #383838;
    background: red; /* url('../images/mapa/poltrona.png') no-repeat; */
    border-radius: 3px;
}
a.mlOcupadaM, a.mlOcupadaMC {			
	width: 22px;
    height: 20px;
    border: 2px solid #0303A4;
    background: #FF0; /* url('../images/mapa/poltrona-m.png') no-repeat; */
    border-radius: 3px;
}  
a.mlOcupadaMI, a.mlOcupadaMV {
	width: 22px;
    height: 20px;
    border: 2px solid #0303A4;
    background: #FF0; 
    border-radius: 3px;
}    

a.mlOcupadaF, a.mlOcupadaFC {			
	width: 22px;
    height: 20px;
    border: 2px solid #C700C5;
    background: #FF0; /* url('../images/mapa/poltrona-f.png') no-repeat;*/	/* Rosa */ 
    border-radius: 3px;
}
a.mlOcupadaFV, a.mlOcupadaFI {	
    width: 22px;
    height: 20px;
    background: none;
    border: 2px solid #C700C5;
    border-radius: 3px;    
    position: relative;
}

a.mlOcupadaFV:after, a.mlOcupadaFI:after {
	z-index:-1;
    content: '';
	left: 0px;
	top: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 20px 22px;
    border-color: transparent transparent #ff0 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #FF0 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
a.mlReservaM{			
	width: 22px;
    height: 20px;
    border: 2px solid #0303A4;
    background: #AAFFAA; /*url('../images/mapa/poltrona-m.png') no-repeat;	*/
    border-radius: 3px;
}    
a.mlReservaF{			
	width: 22px;
    height: 20px;
    border: 2px solid #C700C5;
    background: #AAFFAA; /* url('../images/mapa/poltrona-f.png') no-repeat;	*/
    border-radius: 3px;
}
a.mlReservaFV{			
	width: 22px;
    height: 20px;
    border: 2px solid #C700C5;
    background: #FFFFFF; /* url('../images/mapa/poltrona-f.png') no-repeat;	*/
    border-radius: 3px;
}
a.mlParcialM{			
	width: 22px;
    height: 20px;
    border: 2px solid #0303A4;
    background: #AAFFAA; /* url('../images/mapa/poltrona-parc-m.png') no-repeat;	*/
    border-radius: 3px;
}    
a.mlParcialF{			
	width: 22px;
    height: 20px;
    border: 2px solid #C700C5;
    background: #AAFFAA; /* url('../images/mapa/poltrona-parc-f.png') no-repeat;	*/
    border-radius: 3px;
}
.traseira {
	position: relative;
	width: 135px;
	height: 19px;
	border-right: 3px solid #666;
	border-bottom: 3px solid #666;
	border-left: 3px solid #666;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    margin-bottom: 20px;
}
.traseira1 {
	position: absolute;
	width: 129px;
	height: 15px;
	border-right: 3px solid #CCC;
	border-left: 3px solid #CCC;
	border-bottom:: 3px solid #CCC;
	background-color: #CCC;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	top: 2px;
}
.traseira2 {
	position: absolute;
	width: 129px;
	height: 9px;
	border-right: 1px solid #FFF;
	border-bottom:: 3px solid #FFF;
	border-left: 1px solid #FFF;
	background-color: #FFF;
	top: 2px;
	border-bottom-right-radius: 80px 20px;
	border-bottom-left-radius: 80px 20px;
}
.title-cls .x-panel-header{
	font-size: 9px;
	padding: 0px 0px 0px 5px;
}
#container {
    overflow: hidden;
    height: 100%;
    width: 280px;  
}
.col-esq {
	width: 50%;
	float: left;
}
.col-dir {
	width: 50%;
	float: right;
}
.combo-text-align {
    text-align: right
}
.excluir {
    background-image: url(../images/trash.png);
}
#adicionarTelefone {
    font: 70% arial,sans-serif;
    color: #777;
    cursor: pointer;
}
.qtip-telefones {
    width: 150px;
    
}
.qtip-telefones-titulo {
    font-weight: bold;
}
.x-grid-cell-inner2 {
    padding: 5px 2px 4px 2px;
}
/* Lista de passageiros */
#listaPassageiros {
    width: 100%;
    font-family: Verdana, Tahoma;
}
#header {
    text-align: center;
    padding: 0px;
}
#header h1 {
    margin: 0px;
    font-family: Verdana, Tahoma;
}
#header span {
    font-size: 10px;
}
#lista th { 
    border-top: #000 3px double; 
    border-bottom: #000 3px double;
    text-align: left
}
#viagem {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 0 0 20px 0;
}
#mapaOnibus .x-tab-bar-default-horizontal {
    height: 19px;
}
