@charset "utf-8";
#onibus {
	width: 180px;
	height: 529px;
	font-family: Calibri;
	/* [disabled]background-image: url(onibus.jpg); */
}
#frente {
	height: 50px;
	width: 174px;
	border-top-left-radius: 90px 20px;
	border-top-right-radius: 90px 20px;
	position: relative;
	border-top: 15px solid #666666;
	border-bottom: 3px solid #666666;
	border-right: 3px solid #666666;
	border-left: 3px solid #666666;
}
.farol {
	height: 15px;
	width: 30px;
	position: absolute;
	left: 22px;
	top: 5px;
	z-index: 1;
}
