.frente {
	position: relative;
	width: 135px;
	height: 21px;
	border-right: 3px solid #666;
	border-top: 3px solid #666;
	border-left: 3px solid #666;
	border-top-left-radius: 120px 30px;
	border-top-right-radius: 120px 30px;
}
.frente1 {
	position: absolute;
	width: 129px;
	height: 15px;
	border-right: 3px solid #CCC;
	border-top: 3px solid #CCC;
	border-left: 3px solid #CCC;
	border-top-left-radius: 120px 26px;
	border-top-right-radius: 120px 26px;
	border-bottom-left-radius: 0px 10px;
	background-color: #CCC;
}
.frente2 {
	position: absolute;
	width: 129px;
	height: 8px;
	border-right: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-top-left-radius: 200px 26px;
	border-top-right-radius: 200px 26px;
	border-bottom-left-radius: 0px 10px;
	background-color: #FFF;
	top: 10px;
}
.farol-esquerdo {
	position: absolute;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	width: 25px;
	height: 7px;
	left: 13px;
	top: 1px;
	background-color: #FFF;
	border-radius: 55px 0px 48px 19px / 12px 0px 23px 9px;
}
.farol-direito {
	position: absolute;
	border-left: 1px solid #333333;
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	width: 25px;
	height: 7px;
	left: 93px;
	top: 1px;
	background-color: #FFF;
	border-radius: 0px 55px 19px 48px  / 0px 12px 9px 23px;
}
.viewPiso{
    margin-left: 5%;
	width: 90%;
	height: 300px; /*(auto !important;*/
    padding: 1px 0 21px 0;
    font-family: Calibri;
	font-size: 15px;
}
.onibus {
	height: 264px;
    width: 135px;
    border-left: 3px solid #666;
	border-right: 3px solid #666;
    background: none;

}
div.linha{
    width: 100%;
	height: 22px;
	background: none;
}
.viewPiso a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
    width: 22px;
    height: 20px;
    float: left;
    cursor: pointer;
    margin-left: 2px;
    line-height: 15px;
}
a.corredor{
    margin-right: 0px;
}		
a.polEsq{
    margin-left: 4px;	
}
.lparcial {
    width: 16px;
    height: 12px;
    border: 1px solid #333;
    border-radius: 3px;
    position: relative;
    z-index: 10;
    float: left;
}
.lparcial:after {
    z-index:1;
    content: '';
    left: 0px;
    top: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 10px 14px;
    border-color: transparent transparent #ff0 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #FF0 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');    
}
.lparcial:before {
    z-index:1;
    content: '';
    left: 0px;
    top: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 14px 0 0;
    border-color: #AAFFAA transparent transparent transparent;
    line-height: 0px;
    _border-color: #AAFFAA #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');    
}
.row-legenda-poltrona {
    width:16px; 
    height: 12px; 
    border: 1px solid #333;  
    float: left; 
    border-radius: 3px;
}
.row-legenda-desc {
    font-size: 11px; 
    height: 13px;
}
.row-legenda-sexo {
    width:16px; 
    height: 0px; border: 2px solid #FC7135; 
    margin: 7px 0 0 0; 
    float: left;
}

/* Configuração das poltronas */
a.poltrona{
    position: relative;
	width: 22px;
    height: 20px;
    border-radius: 4px;
}
a.escolhida {
    border: 2px solid #383838;
    background: red;
}
a.livre {
    border: 2px solid #383838;
    background: #F1F1F1;
}
a.ocupada {
    background: #AAFFAA;
}
a.reserva {
    background: #FF0;
}
a.misto {
    z-index: 1;
}   
a.misto:after {
	z-index:-1;
    content: '';
	left: 0px;
	top: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 16px 18px;
    border-color: transparent transparent #AAFFAA transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #AAFFAA #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
a.misto:before {
	z-index:-1;
    content: '';
	left: 0px;
	top: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 16px 18px 0 0;
    border-color: #FF0 transparent transparent transparent;
    line-height: 0px;
    _border-color: #FF0 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
a.feminino {
    border: 2px solid #C700C5;
}
a.masculino {
    border: 2px solid #0303A4;
}
a.sexo-misto {
    border: 2px solid #FC7135;
}
a.parcial {
    z-index: 1;
}   
a.parcial:after {
	z-index:-1;
    content: '';
	left: 0px;
	top: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 16px 18px;
    border-color: transparent transparent #F1F1F1 transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #F1F1F1 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.traseira {
	position: relative;
	width: 135px;
	height: 19px;
	border-right: 3px solid #666;
	border-bottom: 3px solid #666;
	border-left: 3px solid #666;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    margin-bottom: 20px;
}
.traseira1 {
	position: absolute;
	width: 129px;
	height: 15px;
	border-right: 3px solid #CCC;
	border-left: 3px solid #CCC;
	border-bottom:: 3px solid #CCC;
	background-color: #CCC;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	top: 2px;
}
.traseira2 {
	position: absolute;
	width: 129px;
	height: 9px;
	border-right: 1px solid #FFF;
	border-bottom:: 3px solid #FFF;
	border-left: 1px solid #FFF;
	background-color: #FFF;
	top: 2px;
	border-bottom-right-radius: 80px 20px;
	border-bottom-left-radius: 80px 20px;
}
.title-cls .x-panel-header{
	font-size: 9px;
	padding: 0px 0px 0px 5px;
}
#container {
    overflow: hidden;
    height: 100%;
    width: 270px;  
}
.col-esq {
    float: left;
    width: 60%;
}
.col-dir {
    text-align: right;
}
.combo-text-align {
    text-align: right
}
.excluir {
    background-image: url(../images/trash.png);
}
#adicionarTelefone {
    font: 70% arial,sans-serif;
    color: #777;
    cursor: pointer;
}
.qtip-telefones {
    width: 150px;
    
}
.qtip-telefones-titulo {
    font-weight: bold;
}

/* Lista de passageiros */
#listaPassageiros {
    width: 100%;
    font-family: Verdana, Tahoma;
}
#header {
    text-align: center;
    padding: 0px;
}
#header h1 {
    margin: 0px;
    font-family: Verdana, Tahoma;
}
#header span {
    font-size: 10px;
}
#lista th { 
    border-top: #000 3px double; 
    border-bottom: #000 3px double;
    text-align: left
}
#viagem {
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 0 0 20px 0;
}
div#colPoltr-titleEl.x-column-header-inner {
    padding: 7px 2px 7px 2px;
}
#viewCarrinho div.x-grid-cell-inner {
    padding: 5px 2px 5px 2px;
}

div#colPoltr1-titleEl.x-column-header-inner,
div#op-titleEl.x-column-header-inner,
div#tipo-titleEl.x-column-header-inner {
    padding: 7px 2px 7px 2px;
}

.x-grid-cell-inner {
    padding: 7px 2px 7px 2px;
}
#viewDadosPassagem div.x-grid-cell-inner,
#gridViewHorarios div.x-grid-cell-inner {
    padding: 5px 2px 5px 2px;
}
.total-a-pagar{
    font-size: 28px;
}
.dados-cartao-label{
    font-size: 18px;
}
.x-form-display-field2 {
    font-size: 28px;
    color: red;
    font-weight: bold;
}
.x-form-trigger-wrap-label-tel {
    border: 0px solid;
}